body {
    margin: 0;
    padding: 0;
    background-color: black;

}

p {
    color: white;
    font-size: 25px;
    margin-left: 25px;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 35px;

}

span {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}